# ~/.config/systemd/user/wayvnc.service
[Unit]
Description=wayvnc VNC server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc --config=%h/.config/wayvnc/config --max-fps=30
Restart=on-failure
RestartSec=3
NoNewPrivileges=true

[Install]
WantedBy=graphical-session.target
